{% extends "base.html" %}
{% block title %}Encounter Data - SkyShard{% endblock %}
{% block head %}
    {{ super() }}
    <link href="https://cdn.datatables.net/columncontrol/1.1.0/css/columnControl.dataTables.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
  <h2>SkyShard Encounter Data</h2>
    <table id="data" class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Cost</th>
                <th>Tier</th>
                <th>Info</th>
                <th>Size</th>
                <th>Faction</th>
                <th>Role</th>
                <th>Type</th>
                <th>Rarity</th>
                <th>Quantity Possible Units</th>
                <th>Possible Units</th>
            </tr>
        </thead>
        <tbody>
            {% for encounter in encounter_data %}
                {% if encounter.InShop %}
                    {%- set possible_units = [] -%}
                    {%- for unit in unit_data -%}
                        {% if unit.InShop and (encounter.Faction == "None" or encounter.Faction == unit.Faction) and (encounter.Role == "None" or encounter.Role == unit.Role) and (encounter.Type == "None" or encounter.Type == unit.Type) and (unit.Rarity | string in encounter.TierInfo)  %}
                            {%- set _ = possible_units.append(unit.Name) -%}
                        {% endif %}
                    {%- endfor -%}

                    <tr>
                        <td>{{ encounter.Name }}</td>
                        <td>{{ encounter.Cost }}</td>
                        <td>{{ encounter.TierInfo }}</td>
                        <td>{{ encounter.Info }}</td>
                        <td>{{ encounter.Specific }}</td>
                        <td>{{ encounter.Faction }}</td>
                        <td>{{ encounter.Role }}</td>
                        <td>{{ encounter.Type }}</td>
                        <td>{{ encounter.Rarity }}</td>
                        <td>{{ possible_units | length }}</td>
                        <td>{{ possible_units|join(',') }}</td>
                    </tr>
                {% endif %}

            {% endfor %}
        </tbody>

    </table>


    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.3.4/js/dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/columncontrol/1.1.0/js/dataTables.columnControl.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/columncontrol/1.1.0/js/columnControl.dataTables.js"></script>
    <script>
    new DataTable('#data', {
        paging: false,
        columnControl: ['order', ['searchList']],

        columnDefs: [
            {
                target: 0,
                className: 'always-visible',
                columnControl: ['order',
                    [
                        'spacer',
                        {
                            extend: 'colVis',
                            columns: ':not(.always-visible)'
                        }
                    ],
                    'searchDropdown'
                ],
            },
            {
                target: 1,
                columnControl: ['order', 'searchDropdown']
            }
        ],
        ordering: {
            indicators: false,
            handler: false
        }
    });
    </script>
{% endblock %}
